body {
  font-family: Poppins;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
  /* height: 679px; */
}
hr {
  border: 1px solid #d1d1d1;
  background-color: #d1d1d1;
  margin-bottom: 27px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.Players-name {
  margin-left: 15px;
  font-size: 18px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
/* top blogs */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
}
.blog .thumbail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.course {
  width: 253px;
  height: 270px;
}
.course .couser-banar img {
  width: 224px;
  height: 104px;
}
.couser-info {
  display: flex;
  justify-content: space-between;
}
.filled {
  color: #ffc014;
}
.empty {
  color: #aeaeae;
}
.course-duration {
  background-color: #ffe4e8;
  color: #ff4a60;
  font-size: 14px;
  padding: 5px;

  border-radius: 20px;
}
/* Mediya Quries */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}
